<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thisoft.stock.mapper.StockBaseMtrlMapper">
    
    <resultMap type="StockBaseMtrl" id="StockBaseMtrlResult">
        <result property="mtrlNo"    column="mtrl_no"    />
        <result property="mtrlName"    column="mtrl_name"    />
        <result property="mtrlNoMain"    column="mtrl_no_main"    />
        <result property="mtrlNoNc"    column="mtrl_no_nc"    />
        <result property="mtrlNameNc"    column="mtrl_name_nc"    />
        <result property="mtrlType"    column="mtrl_type"    />
        <result property="unit"    column="unit"    />
        <result property="brand"    column="brand"    />
        <result property="mtrlSpec"    column="mtrl_spec"    />
        <result property="companyId"    column="company_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectStockBaseMtrlVo">
        select mtrl_no, mtrl_name, mtrl_no_main, mtrl_no_nc, mtrl_name_nc, mtrl_type, unit, brand, mtrl_spec, company_id, create_by, create_time, update_by, update_time from stock_base_mtrl
    </sql>

    <select id="selectStockBaseMtrlList" parameterType="StockBaseMtrl" resultMap="StockBaseMtrlResult">
        <include refid="selectStockBaseMtrlVo"/>
        <where>  
            <if test="mtrlName != null  and mtrlName != ''"> and mtrl_name like concat('%', #{mtrlName}, '%')</if>
            <if test="mtrlNoMain != null  and mtrlNoMain != ''"> and mtrl_no_main = #{mtrlNoMain}</if>
            <if test="mtrlSpec != null  and mtrlSpec != ''"> and mtrl_spec = #{mtrlSpec}</if>
        </where>
    </select>
    
    <select id="selectStockBaseMtrlById" parameterType="Long" resultMap="StockBaseMtrlResult">
        <include refid="selectStockBaseMtrlVo"/>
        where mtrl_no = #{mtrlNo}
    </select>
        
    <insert id="insertStockBaseMtrl" parameterType="StockBaseMtrl" useGeneratedKeys="true" keyProperty="mtrlNo">
        insert into stock_base_mtrl
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="mtrlName != null">mtrl_name,</if>
            <if test="mtrlNoMain != null">mtrl_no_main,</if>
            <if test="mtrlNoNc != null">mtrl_no_nc,</if>
            <if test="mtrlNameNc != null">mtrl_name_nc,</if>
            <if test="mtrlType != null">mtrl_type,</if>
            <if test="unit != null">unit,</if>
            <if test="brand != null">brand,</if>
            <if test="mtrlSpec != null">mtrl_spec,</if>
            <if test="companyId != null">company_id,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="mtrlName != null">#{mtrlName},</if>
            <if test="mtrlNoMain != null">#{mtrlNoMain},</if>
            <if test="mtrlNoNc != null">#{mtrlNoNc},</if>
            <if test="mtrlNameNc != null">#{mtrlNameNc},</if>
            <if test="mtrlType != null">#{mtrlType},</if>
            <if test="unit != null">#{unit},</if>
            <if test="brand != null">#{brand},</if>
            <if test="mtrlSpec != null">#{mtrlSpec},</if>
            <if test="companyId != null">#{companyId},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateStockBaseMtrl" parameterType="StockBaseMtrl">
        update stock_base_mtrl
        <trim prefix="SET" suffixOverrides=",">
            <if test="mtrlName != null">mtrl_name = #{mtrlName},</if>
            <if test="mtrlNoMain != null">mtrl_no_main = #{mtrlNoMain},</if>
            <if test="mtrlNoNc != null">mtrl_no_nc = #{mtrlNoNc},</if>
            <if test="mtrlNameNc != null">mtrl_name_nc = #{mtrlNameNc},</if>
            <if test="mtrlType != null">mtrl_type = #{mtrlType},</if>
            <if test="unit != null">unit = #{unit},</if>
            <if test="brand != null">brand = #{brand},</if>
            <if test="mtrlSpec != null">mtrl_spec = #{mtrlSpec},</if>
            <if test="companyId != null">company_id = #{companyId},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where mtrl_no = #{mtrlNo}
    </update>

    <delete id="deleteStockBaseMtrlById" parameterType="Long">
        delete from stock_base_mtrl where mtrl_no = #{mtrlNo}
    </delete>

    <delete id="deleteStockBaseMtrlByIds" parameterType="String">
        delete from stock_base_mtrl where mtrl_no in 
        <foreach item="mtrlNo" collection="array" open="(" separator="," close=")">
            #{mtrlNo}
        </foreach>
    </delete>
</mapper>